$padding: (
    tiny: 10px,
    small: 20px,
    default: 30px,
    large: 40px,
    huge: 60px,
    massive: 80px,
    none: 0
);
$margin: $padding;

$grid-width: 1000px;

@import '../../node_modules/outeredge-sass/sass/edge';
@import '../../node_modules/html5-device-mockups/dist/device-mockups';

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @extend %height-100;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    @extend %text-center, %height-100;
}

h1 {
    @extend %margin-top-tiny, %margin-bottom, %bold;
}

h2 {
    font-size: 24px;
    @extend %light, %margin-top-none, %line-height-150;
}

h3 {
    font-size: 20px;
    @extend %margin-top-huge;
}

a {
    @extend %text-inherit;
}

section,
footer {
    @extend %padding-horizontal;
    > div {
        @extend %row, %padding-vertical-massive;
    }
}

.main {
    background-image: url(../images/pexels-photo-214670.jpeg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 400px;
    @extend %flex, %flex-vertical-center, %text-left, %text-white, %height-100, %relative;
    &:before {
        content: '';
        background-color: rgba(0,0,0,0.25);
        @extend %absolute-fill;
    }
    span {
        @extend %light;
    }
    > div > div {
        font-size: 40px;
        @extend %relative;
        a {
            border: 1px solid $white;
            font-size: 22px;
            will-change: color, background-color;
            transition: all .25s;
            @extend %padding-vertical-small, %padding-horizontal, %inline-block, %text-decoration-none, %light;
            &:hover {
                @extend %bg-white, %text-darkgrey;
            }
        }
    }
}

.continue {
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    will-change: opacity;
    transition: opacity .25s;
    @extend %absolute, %light, %text-decoration-none, %opacity-80, %light, %text-center;
    &:hover {
        @extend %opaque;
    }
    i {
        @extend %margin-top-tiny;
    }
}

.expertise {
    > div {
        max-width: 700px;
        @extend %text-left;
    }
    h2 {
        @extend %margin-bottom-huge;
    }
    p {
        line-height: 175%;
        @extend %text-grey, %small;
    }
}

.work {
    @extend %bg-whitesmoke;
    h4 {
        @extend %bold, %bigger, %margin-bottom-small;
    }
    p {
        line-height: 175%;
        @extend %smaller, %text-grey;
        a {
            border-bottom: 1px solid $grey;
            @extend %text-decoration-none;
        }
    }
    > div > div {
        @extend %margin-vertical-huge;
        > div:first-child {
            @extend %relative; 
            .mobile-device {
                bottom: 0;
                left: 10%;
                @extend %absolute, %width-50;
            }
        }
    }
}

footer {
    background-color: #252a30;
    font-size: 14px;
    @extend %text-lightgrey;
}

.copyright {
    @extend %light, %line-height-150, %margin-bottom, %margin-top-none;
}

.social a {
    will-change: color;
    transition: color .25s;
    @extend %text-decoration-none, %margin-horizontal-tiny;
    &:hover {
        @extend %text-white;
    }
}

.device-wrapper {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    .screen {
        @extend %overflow-hidden;
    }
}


@include media(tablet) {
    .work > div > div {
        @extend %tablet-flex, %tablet-flex-center, %tablet-flex-fill-equal;
        > div {
            @extend %tablet-padding-horizontal;
            &:last-child {
                @extend %tablet-text-left;
            }
        }
        &:first-of-type > div:first-child {
            @include flex-order(2);
        }
        h4 {
            @extend %tablet-margin-top-none;
        }
    }
}
